.transaction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 22px;
 
  gap: 10px;
    color:black;
  font-size:25px;
  font-family:Montserrat;
  font-weight: bold;
}
.transaction-container input {
  padding: 18px 12px;
  border-radius: 12px;
  background: #e6e8e9;
  border: 1px solid #e6e8e9;
  outline: none;
}
.cell {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: normal;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e6e8e9;
}
.cell.expense {
  border-right: 4px solid red;
}

.cell.income {
  border-right: 4px solid green;
}
